<!-- content @s -->
<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-lg">
        <div class="nk-content-body">
            <div class="nk-block-head">
                <div class="nk-block-head-sub"><span>Welcome!</span>
                </div>
                <div class="nk-block-between-md g-4">
                    <div class="nk-block-head-content">
                        <h2 class="nk-block-title fw-normal">{{fullname()}}</h2>
                        <div class="nk-block-des">
                            <p>Tout le résumé de votre compte En un coup d'œil !</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <ul class="nk-block-tools gx-3">
                            <li><a href="#" class="btn btn-primary"><span>Dépot</span> <em class="icon ni ni-arrow-long-right"></em></a></li>
                            <li><a href="#" class="btn btn-white btn-light"><span>Retrait</span> <em class="icon ni ni-arrow-long-right d-none d-sm-inline-block"></em></a></li>
                            <li class="opt-menu-md dropdown">
                                <a href="#" class="btn btn-white btn-light btn-icon" data-toggle="dropdown"><em class="icon ni ni-setting"></em></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="#"><em class="icon ni ni-coin-alt"></em><span>Curreny Settings</span></a></li>
                                        <li><a href="#"><em class="icon ni ni-notify"></em><span>Push Notification</span></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->

            <div class="nk-block">
                <div class="row gy-gs">
                    <div class="col-lg-5 col-xl-4">
                        <div class="nk-block">
                            <div class="nk-block-head-xs">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title title">Aperçu</h5>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="card card-bordered text-light is-dark h-100">
                                    <div class="card-inner">
                                        <div class="nk-wg7">
                                            <div class="nk-wg7-stats">
                                                <div class="nk-wg7-title">Solde disponible en CFA</div>
                                                <div class="number-lg amount">0.00</div>
                                            </div>
                                            <div class="nk-wg7-stats-group">
                                                <div class="nk-wg7-stats w-50">
                                                    <div class="nk-wg7-title">Wallets</div>
                                                    <div class="number-lg">3</div>
                                                </div>
                                                <div class="nk-wg7-stats w-50">
                                                    <div class="nk-wg7-title">Transactions</div>
                                                    <div class="number">0</div>
                                                </div>
                                            </div>
                                            <div class="nk-wg7-foot">
                                                <span class="nk-wg7-note">Last activity at <span>2 Fev, 2021</span></span>
                                            </div>
                                        </div><!-- .nk-wg7 -->
                                    </div><!-- .card-inner -->
                                </div><!-- .card -->
                            </div><!-- .nk-block -->
                        </div><!-- .nk-block -->
                    </div><!-- .col -->
                    <div class="col-lg-7 col-xl-8">
                        <div class="nk-block">
                            <div class="nk-block-head-xs">
                                <div class="nk-block-between-md g-2">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title title">Mes Portefeuilles numériques</h5>
                                    </div>
                                    <div class="nk-block-head-content">
                                        <a href="html/crypto/wallets.html" class="link link-primary">Plus</a>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="row g-2">
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="html/crypto/wallet-bitcoin.html">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon">
                                                        <em class="icon ni ni-sign-btc"></em>
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Ikawari</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">0.00<span class="currency currency-nio">IK</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="html/crypto/wallet-bitcoin.html">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon">
                                                        <em class="icon ni ni-sign-btc"></em>
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Bitcoin Wallet</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">0.00<span class="currency currency-btc">BTC</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="html/crypto/wallet-bitcoin.html">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon">
                                                        <em class="icon ni ni-sign-eth"></em>
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Ethereum Wallet</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">0.00<span class="currency currency-eth">ETH</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .nk-block -->
                        <div class="nk-block nk-block-md">
                            <div class="nk-block-head-xs">
                                <div class="nk-block-between-md g-2">
                                    <div class="nk-block-head-content">
                                        <h6 class="nk-block-title title">Mes Comptes</h6>
                                    </div>
                                    <div class="nk-block-head-content">
                                        <a href="html/crypto/wallets.html" class="link link-primary">Plus</a>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="row g-2">
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="html/crypto/wallet-bitcoin.html">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon">
                                                        <em class="icon ni ni-sign-btc"></em>
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Pricipale</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">0.00<span class="currency currency-nio">CFA</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="html/crypto/wallet-bitcoin.html">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon">
                                                        <em class="icon ni ni-sign-btc"></em>
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Commission</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">0.00<span class="currency currency-btc">CFA</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="html/crypto/wallet-bitcoin.html">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon">
                                                        <em class="icon ni ni-sign-eth"></em>
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Attente</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">0.00<span class="currency currency-eth">CFA</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div> <!-- .nk-block -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .nk-block -->
            

            <div class="nk-block nk-block-lg">
                <div class="row gy-gs">
                    <div class="col-md-6">
                        <div class="card-head">
                            <div class="card-title  mb-0">
                                <h5 class="title">Mes Activités Reçentes</h5>
                            </div>
                            <div class="card-tools">
                                <ul class="card-tools-nav">
                                    <li><a href="#">Dépot</a></li>
                                    <li><a href="#">Retrait</a></li>
                                    <li class="active"><a href="#">Tout</a></li>
                                </ul>
                            </div>
                        </div><!-- .card-head -->
                        <div class="tranx-list card card-bordered">
                            <div class="tranx-item">
                                <div class="tranx-col">
                                    <div class="tranx-info">
                                        <div class="tranx-data">
                                            <div class="tranx-label">Dépot <em class="tranx-icon sm icon ni ni-sign-btc"></em></div>
                                            <div class="tranx-date">Fev 02, 2021 11:34 PM</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="number">10 000 <span class="currency currency-btc">CFA</span></div>
                                        <div class="number-sm">78 64 80 04 <span class="currency currency-usd">(MALI)</span></div>
                                    </div>
                                </div>
                            </div><!-- .tranx-item -->
                            <div class="tranx-item">
                                <div class="tranx-col">
                                    <div class="tranx-info">
                                        <div class="tranx-data">
                                            <div class="tranx-label">Envois<span class="tranx-icon sm"><img src="./images/coins/eth.svg" alt=""></span></div>
                                            <div class="tranx-date">Fev 02, 2021 11:34 PM</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="number">1 000 000 <span class="currency currency-btc">CFA</span></div>
                                        <div class="number-sm">77 221 84 97 <span class="currency currency-usd">(SN)</span></div>
                                    </div>
                                </div>
                            </div><!-- .tranx-item -->
                            <div class="tranx-item">
                                <div class="tranx-col">
                                    <div class="tranx-info">
                                        <div class="tranx-data">
                                            <div class="tranx-label">Retrait<span class="tranx-icon sm"><img src="./images/coins/eth.svg" alt=""></span></div>
                                            <div class="tranx-date">Fev 02, 2021 11:34 PM</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="number">100 000 <span class="currency currency-btc">CFA</span></div>
                                        <div class="number-sm">96 34 74 12 <span class="currency currency-usd">(ML)</span></div>
                                    </div>
                                </div>
                            </div><!-- .tranx-item -->
                            <div class="tranx-item">
                                <div class="tranx-col">
                                    <div class="tranx-info">
                                        <div class="tranx-data">
                                            <div class="tranx-label">Envois<span class="tranx-icon sm"><img src="./images/coins/eth.svg" alt=""></span></div>
                                            <div class="tranx-date">Fev 02, 2021 11:34 PM</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tranx-col">
                                    <div class="tranx-amount">
                                        <div class="number">50 000 <span class="currency currency-btc">CFA</span></div>
                                        <div class="number-sm">77 221 84 97 <span class="currency currency-usd">(SN)</span></div>
                                    </div>
                                </div>
                            </div><!-- .tranx-item -->
                        </div><!-- .tranx-list -->
                    </div><!-- .col -->
                    <div class="col-md-6">
                        <div class="card-head">
                            <div class="card-title mb-0">
                                <h5 class="title">Flux de Transactions</h5>
                            </div>
                            <div class="card-tools">
                                <ul class="card-tools-nav">
                                    <li><a href="#">Mois</a></li>
                                    <li class="active"><a href="#">Année</a></li>
                                </ul>
                            </div>
                        </div><!-- .card-title -->
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="nk-wg4">
                                    <div class="nk-wg4-group justify-center gy-3 gx-4">
                                        <div class="nk-wg4-item">
                                            <div class="sub-text">
                                                <div class="dot dot-lg sq" data-bg="#5ce0aa"></div> <span>Crédit</span>
                                            </div>
                                        </div>
                                        <div class="nk-wg4-item">
                                            <div class="sub-text">
                                                <div class="dot dot-lg sq" data-bg="#798bff"></div> <span>Débit</span>
                                            </div>
                                        </div>
                                        <div class="nk-wg4-item">
                                            <div class="sub-text">
                                                <div class="dot dot-lg sq" data-bg="#f6ca3e"></div><span>Rétrait</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-ck3">
                                    <canvas class="chart-account-summary" id="summaryBalance"></canvas>
                                </div>
                            </div><!-- .card-inner -->
                        </div><!-- .card -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .nk-block -->

        </div>
    </div>
</div>
